#run {
	margin-left: 5%;
	margin-top: 1px;
}

.methods {
	margin-top: 0.5em;
}

.methods li {
	padding: 2px 4px;
}

.methods .Skiped:before {
	content: '\279D ';
	padding-left: 4px;
}

.methods .Incomplete:before {
	content: '\21E5 ';
	padding-left: 4px;
}

.methods .Pass:before {
	content: '\2611 ';
	padding-left: 4px;
}

.methods .Fail:before, .methods .Exception:before  {
	content: '\2612 ';
	padding-left: 4px;
}

.methods .Pass:nth-child(even) {
	background-color: #DFD;
}

.methods .Pass:nth-child(odd) {
	background-color: #D6F8D6;
}

.methods .Fail:nth-child(even) {
	background-color: #FDD;
}

.methods .Fail:nth-child(odd) {
	background-color: #F8D6D6;
}

.methods .Incomplete:nth-child(even) {
	background-color: #FFC;
}

.methods .Incomplete:nth-child(odd) {
	background-color: #F8F8C5;
}

.methods .messages {
	display: block;
	padding-left: 4px;
	padding-bottom: 2px;
}

.methods .messages em {
	font-style: italic !important;
}

.methods .name {
	font-weight: bold;
}
