ul.methods {
	margin-top: 1em;
}

ul.methods li {
	padding: 2px 0;
}

ul.methods li.Pass:nth-child(even) {
	background-color: #DFD;
}

ul.methods li.Pass:nth-child(odd) {
	background-color: #D6F8D6;
}

ul.methods li.Fail:nth-child(even) {
	background-color: #FDD;
}

ul.methods li.Fail:nth-child(odd) {
	background-color: #F8D6D6;
}

ul.methods li.Incomplete:nth-child(even) {
	background-color: #FFC;
}

ul.methods li.Incomplete:nth-child(odd) {
	background-color: #F8F8C5;
}

ul.methods span.messages {
	display: block;
}

ul.methods span.messages em {
	font-style: italic !important;
}

ul.methods span.name {
	font-weight: bold;
}
