ul.methods {
	margin-top: 1em;
}

ul.methods li.Pass:nth-child(even) {
	background-color: #DFD;
}

ul.methods li.Pass:nth-child(odd) {
	background-color: #D6F8D6;
}

ul.methods li.Fail:nth-child(even) {
	background-color: #FDD;
}

ul.methods li.Fail:nth-child(odd) {
	background-color: #F8D6D6;
}

ul.methods li.Incomplete:nth-child(even) {
	background-color: #FFC;
}

ul.methods li.Incomplete:nth-child(odd) {
	background-color: #F8F8C5;
}

ul.methods span.message {
	float: right;
	clear: both;
}

div.progress_bar {
	border: 1px solid #444;
	padding: 2px;
}

div.progress_bar span.green {
	display: inline-block;
	background-color: green;
}

div.progress_bar span.red {
	display: inline-block;
	background-color: red;
}

div.progress_bar span.yellow {
	display: inline-block;
	background-color: yellow;
}

div.progress_bar span.orange {
	display: inline-block;
	background-color: orange;
}
