body {
	font: 13px sans-serif;
	background-color: #eee;
	padding: 1em 7em;
	color: #333;
}

h1 {
	font-size: 1.3em;
	margin: 4em 0 1em -0.5em;
}

h2 {
	display: inline;
	color: #666;
	font-size: 1em;
	font-weight: normal;
}

.method {
	display: inline;
}

.method:after {
	content: ", ";
}

div {
	color: #903;
	margin: 1em 0;
}

div.complete {
	color: #333;
	font-weight: bold;
}

div.all {
	color: #013;
	font-weight: bold;
	font-size: 1.1em;
	margin: 0 0 10em -3em;
}

div.all:before {
	content: "Habari Test Suite Results ";
	font-size: .7em;
	display: block;
	margin-top: 3em;
	margin-left: -.5em;
	font-weight: normal;
	color: #999;
}
